<div class="divPrincipal">
    <div class="divEsquerda">
        <div class="moedas">{{getMoedas()}}</div>
        <div class="botaoClick" (click)="clicar()"></div>
    </div>
    <div class="divDireita">
        <div class="div1">
            <div *ngFor="let item of listaItens; let i = index" class="itemCompra">
                <button (click)="compraItem(i)">{{item.CUSTO}}</button>
                <span>{{item.NOME}} {{item.QUANTIDADE}}</span>
            </div>
        </div>
        <div class="div2">
            <div class="itemCompra" id="melhoria0">
                <button (click)="compraMelhoria(0)">50</button>
                <span>Aumenta as moedas de Click em +1</span>
            </div>
            <div class="itemCompra" id="melhoria1">
                <button (click)="compraMelhoria(1)">50</button>
                <span>Aumenta as moedas de Click em +50% moedas por segundo</span>
            </div>
            <div class="itemCompra" id="melhoria2">
                <button (click)="compraMelhoria(2)">100</button>
                <span>Cursor dá 25% mais moedas</span>
            </div>
            <div class="itemCompra" id="melhoria3">
                <button (click)="compraMelhoria(3)">100</button>
                <span>Aumenta o Mps em 5%</span>
            </div>
        </div>
    </div>
</div>